{
  "plugins": [
    "sort-requires",
    "@cypress/dev"
  ],
  "extends": [
    "plugin:@cypress/dev/general"
  ],
  "rules": {
    "sort-requires/sort-requires": 2,
    "prefer-rest-params": "off"
  }
}
